body {

    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/back.png) !important;
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;

}


#tudo {

    background-color: rgb(215, 215, 215);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    cursor: default;
    transition: 1s;

}

#tudo-d {

    background-image: url(img/back.png);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    cursor: default;
    transition: 1s;

}

h1 {

    font-size: 25px;

}

h2#escuro-t {

    position: absolute;
    top: -15px;
    right: 50px;
    z-index: 30;

}

h2#vidro-t {

    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 30;

}

#titulo {

    font-size: 54px;
    text-align: center;
    z-index: 5 !important;
    transition: 1s;

}

div.tabela {

    position: relative;
    left: 1%;
    display: grid;
    grid-gap: 0px;
    top: 0px;
    grid-auto-columns: 5.38%;
    grid-auto-rows: 14%;
    gap: 1px;
    transition: 1s;

}

div.tabela2 {

    position: relative;
    left: 6.88%;
    display: grid;
    grid-gap: 0px;
    top: 25px;
    grid-auto-columns: 5.38%;
    grid-auto-rows: 49.5%;
    gap: 1px;
    transition: 1s;

}

#dica {

    position: absolute;
    top: -20%;
    left: 2%;

}

#dica:hover {

    transform: scale(1.2);

}

.info {

    position: absolute;
    left: 16.14%;
    width: 21%;
    height: 200px;
    opacity: 0;
    transition: 0.75s;
    border: 5px solid;
    background: white !important;
    color: black;
    padding-left: 5%;
    border-radius: 5% 20%;
    line-height: 130%;
    transition: 1s;

}

.info2 {

    position: absolute;
    left: -5%;
    width: 15%;
    height: 100%;
    opacity: 0;
    transition: 0.75s;
    border: 5px solid;
    background: white !important;
    color: black;
    line-height: 100%;
    padding-left: 2%;
    border-radius: 5% 20%;
    line-height: 130%;
    transition: 1s;

}

.elemento {

    box-shadow: inset 0px 0px 5px black;
    border-radius: 5%;
    position: relative;
    padding: 10% 0%;
    border: 1px solid black !important;
    color: black;
    text-align: center;
    z-index: 6;
    transition: 1s;

}

.elemento:hover {

    transition: 0.4s;
    scale: 1.2;
    color: white;
    padding: 10% 0%;
    z-index: 7;
    color: white;

}

.elemento:active {

    transform: scale(1.5);

}

.nome {

    right: 0;
    left: 0;
    position: absolute;
    bottom: -11.5%;
    z-index: 8;
    font-size: 68%;
    font-family: "Verdana", sans-serif;

}

.grande {

    bottom: -10%;
    font-size: 55% !important;

}

.ametal {

    background-color: seagreen;
    border-color: seagreen;

}

.ametal:hover {

    background-color: rgb(16, 109, 57);
    z-index: 10;
    box-shadow:  0px 0px 12px 4px rgb(6, 99, 47), inset 0px 0px 8px black;

}

.alcalino {

    background-color: darkorange;
    border-color: darkorange;

}

.alcalino:hover {

    background-color: rgb(225, 110, 0);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(215, 100, 0), inset 0px 0px 8px black;

}

.terroso {

    background-color: gold;
    border-color: gold;

}

.terroso:hover {

    background-color: rgb(235, 185, 0);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(225, 175, 0), inset 0px 0px 8px black;

}

.transição {

    background-color: rgb(128, 40, 40);
    border-color: rgb(128, 40, 40);

}

.transição:hover {

    background-color: rgb(98, 10, 10);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(88, 0, 0), inset 0px 0px 8px black;

}

.nobre {

    background-color: rebeccapurple;
    border-color: rebeccapurple;

}

.nobre:hover {

    background-color: rgb(72, 21, 123);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(62, 11, 113), inset 0px 0px 8px black;

}

.halo {

    background-color: royalblue;
    border-color: royalblue;

}

.halo:hover {

    background-color: rgb(35, 75, 195);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(25, 65, 185), inset 0px 0px 8px black;

}

.semi {

    background-color: teal;
    border-color: teal;

}

.semi:hover {

    background-color: rgb(0, 98, 98);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(0, 88, 88), inset 0px 0px 8px black;

}

.outros {

    background-color: dodgerblue;
    border-color: dodgerblue;

}

.outros:hover {

    background-color: rgb(0, 114, 225);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(0, 104, 215), inset 0px 0px 8px black;

}

.lanta {

    background-color: MediumAquaMarine;
    border-color: MediumAquaMarine;

}

.lanta:hover {

    background-color: rgb(72, 175, 140);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(62, 165, 130), inset 0px 0px 8px black;

}

.act {

    background-color: plum;
    border-color: plum;

}

.act:hover {

    background-color: rgb(191, 130, 191);
    z-index: 10;
    box-shadow: 0px 0px 12px 4px rgb(181, 120, 181), inset 0px 0px 8px black;

}

div.legenda {

    columns: 5 20px;
    position: relative;
    top: 50px;
    left: 5%;

}

div.ametais {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: seagreen;

}

div.alcalinos {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: darkorange;

}

div.terrosos {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: gold;

}

div.metais {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: rgb(108, 0, 0);

}

div.nobres {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: rebeccapurple;

}

div.halos {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: royalblue;

}

div.semimetais {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: teal;

}

div.outro {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: dodgerblue !important;

}

div.lantas {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: MediumAquaMarine;

}

div.acts {

    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: plum;

}

.legenda_texto {

    position: relative;
    left: 30px;
    bottom: 41px;

}

.elemento:hover+.info {

    opacity: 1;
    transition: 0.75s;

}

.elemento:hover+.info2 {

    opacity: 1;
    transition: 0.75s;

}

a {

    text-decoration: none;
    color: black;

}

.Zu {

    left: 17.5%;
    position: absolute;
    top: -5%;

}

.Zd {

    left: 8%;
    position: absolute;
    top: -5%;

}

.Zt {

    left: 2%;
    position: absolute;
    top: -5%;

}

input[type="checkbox"]{

    all: unset;
    border-radius: 100%;
    margin: 3px;
    border: 1px solid black;
    width: 11px;
    height: 11px;
    display: block;
    background-color: none;
    transition: 0.3s;

}

input[type="checkbox"]:hover{

    transform: scale(2);
    border: solid rgb(0, 140, 255) 2px;
    transition: 0.3s;

}

input[type="checkbox"]:checked:hover{

    border: solid white 2px;
    transition: 0.3s;

}

input[type="checkbox"]#escuro {

    position: absolute;
    z-index: 10;
    top: 10px;
    right: 20px;
    transform: scale(1.8);

}

input[type="checkbox"]#escuro:checked {

    background-color: rgb(38, 83, 219);

}

input[type="checkbox"]#vidro {

    cursor: default;
    position: absolute;
    z-index: 10;
    top: 45px;
    right: 20px;
    opacity: 0;
    transform: scale(1.8);
    transition: 1s;

}

h2#vidro-t{

    cursor: default;
    opacity: 0;

}

input[type="checkbox"]#vidro:checked {

    background-color: rgb(38, 83, 219);

}

input#escuro:checked ~ input#vidro{

    opacity: 1 !important;
    transition: 1s;

}

input#escuro:checked ~ #vidro-t{

    opacity: 1 !important;
    transition: 1s;

}

input#escuro:checked~#tudo {

    filter: invert(1);
    transition: 1s;
    background-color: rgb(225, 225, 225);

}

input#escuro:checked~#tudo-d {

    filter: invert(1);
    background-image: url();
    transition: 1s;

}

input#escuro:checked~#tudo header {

    filter: invert(1);
    background-color: rgb(70, 70, 70);
    transition: 1s;

}

input#escuro:checked~#tudo-d header {

    filter: invert(1);
    background-color: rgb(70, 70, 70);
    transition: 1s;

}


input#escuro:checked~#tudo header nav ul .menu {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo-d header nav ul .menu {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo header nav ul .menu:hover {

    background-color: rgb(215, 215, 215);
    transition: 1s;

}

input#escuro:checked~#tudo-d header nav ul .menu:hover {

    background-color: rgb(215, 215, 215);
    transition: 1s;

}

input#escuro:checked~#tudo-d .content video {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~h2 {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .elemento {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .ametais {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .alcalinos {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .terrosos {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .metais {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .nobres {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .halos {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .semimetais {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .outro {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .lantas {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .acts {

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo video{

    filter: invert(1);
    transition: 1s;

}

input#escuro:checked~#tudo .info {

    filter: invert(1);
    background-color: rgb(63, 58, 58) !important;
    color: white !important;
    transition: 1s;

}

input#escuro:checked~#tudo .info2 {

    filter: invert(1);
    background-color: rgb(63, 58, 58) !important;
    color: white !important;
    transition: 1s;

}

.ametal.vidro{

    background-color: rgba(56, 149, 97, 0.11) !important;
    border: seagreen 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(16, 109, 57, 0.3), inset 5px 5px 3px rgba(16, 109, 57, 0.3) !important;
    color: rgb(76, 169, 117) !important;
    text-shadow: 0px 0px 1px seagreen;
    transition: 1s;

}

.ametal.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(16, 109, 57, 0.3), inset 5px 5px 6px rgba(16, 109, 57, 0.3), 0px 0px 12px 4px rgb(6, 99, 47), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.alcalino.vidro{  /*voltar*/

    background-color: rgba(255, 150, 10, 0.11) !important;
    border: darkorange 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(225, 110, 0, 0.3), inset 5px 5px 3px rgba(225, 110, 0, 0.3) !important;
    color: rgb(255, 170, 30) !important;
    text-shadow: 0px 0px 1px darkorange;
    transition: 1s;

}

.alcalino.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(225, 110, 0, 0.3), inset 5px 5px 6px rgba(225, 110, 0, 0.3), 0px 0px 12px 4px rgb(215, 100, 0), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.terroso.vidro{

    background-color: rgba(255, 225, 10, 0.11) !important;
    border: gold 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(225, 185, 0, 0.3), inset 5px 5px 3px rgba(225, 185, 0, 0.3) !important;
    color: rgb(255, 245, 30) !important;
    text-shadow: 0px 0px 1px gold;
    transition: 1s;

}

.terroso.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(225, 185, 0, 0.3), inset 5px 5px 6px rgba(225, 185, 0, 0.3), 0px 0px 12px 4px rgb(225, 175, 0), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.transição.vidro{

    background-color: rgba(138, 50, 50, 0.11) !important;
    border: rgb(128, 40, 40) 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(98, 10, 10, 0.3), inset 5px 5px 3px rgba(98, 10, 10, 0.3) !important;
    color: rgb(158, 70, 70) !important;
    text-shadow: 0px 0px 2px rgb(128, 40, 40);
    transition: 1s;

}

.transição.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(98, 10, 10, 0.3), inset 5px 5px 6px rgba(98, 10, 10, 0.3), 0px 0px 12px 4px rgb(88, 0, 0), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.nobre.vidro{

    background-color: rgba(112, 61, 163, 0.11) !important;
    border: rebeccapurple 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(72, 21, 123, 0.3), inset 5px 5px 3px rgba(72, 21, 123, 0.3) !important;
    color: rgb(132, 81, 183) !important;
    text-shadow: 0px 0px 1px rebeccapurple;
    transition: 1s;

}

.nobre.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(72, 21, 123, 0.3), inset 5px 5px 6px rgba(72, 21, 123, 0.3), 0px 0px 12px 4px rgb(62, 11, 113), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.halo.vidro{

    background-color: rgba(75, 115, 235, 0.11) !important;
    border: royalblue 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(35, 75, 195, 0.3), inset 5px 5px 3px rgba(35, 75, 195, 0.3) !important;
    color: rgb(95, 135, 255) !important;
    text-shadow: 0px 0px 1px royalblue;
    transition: 1s;

}

.halo.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(35, 75, 195, 0.3), inset 5px 5px 6px rgba(35, 75, 195, 0.3), 0px 0px 12px 4px rgb(25, 65, 185), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.semi.vidro{

    background-color: rgba(10, 138, 138, 0.11) !important;
    border: teal 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(0, 98, 98, 0.3), inset 5px 5px 3px rgba(0, 98, 98, 0.3) !important;
    color: rgb(30, 158, 158) !important;
    text-shadow: 0px 0px 1px teal;
    transition: 1s;

}

.semi.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(0, 98, 98, 0.3), inset 5px 5px 6px rgba(0, 98, 98, 0.3), 0px 0px 12px 4px rgb(0, 88, 88), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

.outros.vidro{

    background-color: rgba(40, 154, 255, 0.11) !important;
    border: dodgerblue 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(0, 114, 225, 0.3), inset 5px 5px 3px rgba(0, 114, 225, 0.3) !important;
    color: rgb(60, 174, 255) !important;
    text-shadow: 0px 0px 1px dodgerblue;
    transition: 1s;

}

.outros.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(0, 114, 225, 0.3), inset 5px 5px 6px rgba(0, 114, 225, 0.3), 0px 0px 12px 4px rgb(0, 104, 215), inset 0px 0px 8px black !important; 
    transition: 0.4s;

}

.lanta.vidro{

    background-color: rgba(112, 215, 180, 0.11) !important;
    border: mediumaquamarine 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(72, 175, 140, 0.3), inset 5px 5px 3px rgba(72, 175, 140, 0.3) !important;
    color: rgb(132, 235, 200) !important;
    text-shadow: 0px 0px 1px mediumaquamarine;
    transition: 1s;

}

.lanta.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(72, 175, 140, 0.3), inset 5px 5px 6px rgba(72, 175, 140, 0.3), 0px 0px 12px 4px rgb(62, 165, 130), inset 0px 0px 8px black !important;
    transition: 0.4s;

}


.act.vidro{

    background-color: rgba(231, 170, 231, 0.11) !important;
    border: plum 3px solid !important;
    box-shadow: inset -5px -5px 3px rgba(191, 130, 191, 0.3), inset 5px 5px 3px rgba(191, 130, 191, 0.3) !important;
    color: rgb(251, 190, 251) !important;
    text-shadow: 0px 0px 1px plum;
    transition: 1s;

}

.act.vidro:hover{

    box-shadow: inset -5px -5px 6px rgba(191, 130, 191, 0.3), inset 5px 5px 6px rgba(191, 130, 191, 0.3), 0px 0px 12px 4px rgb(181, 120, 181), inset 0px 0px 8px black !important;
    transition: 0.4s;

}

/* Familia 1 */
.H {
    grid-area: 1 / 1;
}

.Li {
    grid-area: 2 / 1;
}

.Na {
    grid-area: 3 / 1;
}

.K {
    grid-area: 4 / 1;
}

.Rb {
    grid-area: 5 / 1;
}

.Cs {
    grid-area: 6 / 1;
}

.Fr {
    grid-area: 7 / 1;
}

/* Familia 2*/
.Be {
    grid-area: 2 / 2;
}

.Mg {
    grid-area: 3 / 2;
}

.Ca {
    grid-area: 4 / 2;
}

.Sr {
    grid-area: 5 / 2;
}

.Ba {
    grid-area: 6 / 2;
}

.Ra {
    grid-area: 7 / 2;
}

/* Familia 3*/
.Sc {
    grid-area: 4 / 3;
}

.Y {
    grid-area: 5 / 3;
}

.La {
    grid-area: 6 / 3;
}

.Ac {
    grid-area: 7 / 3;
}

/* Familia 4*/
.Ti {
    grid-area: 4 / 4;
}

.Zr {
    grid-area: 5 / 4;
}

.Hf {
    grid-area: 6 / 4;
}

.Rf {
    grid-area: 7 / 4;
}

/* Familia 5*/
.V {
    grid-area: 4 / 5;
}

.Nb {
    grid-area: 5 / 5;
}

.Ta {
    grid-area: 6 / 5;
}

.Db {
    grid-area: 7 / 5;
}

/* Familia 6*/
.Cr {
    grid-area: 4 / 6;
}

.Mo {
    grid-area: 5 / 6;
}

.W {
    grid-area: 6 / 6;
}

.Sg {
    grid-area: 7 / 6;
}

/* Familia 7*/
.Mn {
    grid-area: 4 / 7;
}

.Tc {
    grid-area: 5 / 7;
}

.Re {
    grid-area: 6 / 7;
}

.Bh {
    grid-area: 7 / 7;
}

/* Familia 8*/
.Fe {
    grid-area: 4 / 8;
}

.Ru {
    grid-area: 5 / 8;
}

.Os {
    grid-area: 6 / 8;
}

.Hs {
    grid-area: 7 / 8;
}

/* Familia 9*/
.Co {
    grid-area: 4 / 9;
}

.Rh {
    grid-area: 5 / 9;
}

.Ir {
    grid-area: 6 / 9;
}

.Mt {
    grid-area: 7 / 9;
}

/* Familia 10*/
.Ni {
    grid-area: 4 / 10;
}

.Pd {
    grid-area: 5 / 10;
}

.Pt {
    grid-area: 6 / 10;
}

.Ds {
    grid-area: 7 / 10;
}

/* Familia 11*/
.Cu {
    grid-area: 4 / 11;
}

.Ag {
    grid-area: 5 / 11;
}

.Au {
    grid-area: 6 / 11;
}

.Rg {
    grid-area: 7 / 11;
}

/* Familia 12*/
.Zn {
    grid-area: 4 / 12;
}

.Cd {
    grid-area: 5 / 12;
}

.Hg {
    grid-area: 6 / 12;
}

.Cn {
    grid-area: 7 / 12;
}

/* Familia 13*/
.B {
    grid-area: 2 / 13;
}

.Al {
    grid-area: 3 / 13;
}

.Ga {
    grid-area: 4 / 13;
}

.In {
    grid-area: 5 / 13;
}

.Tl {
    grid-area: 6 / 13;
}

.Nh {
    grid-area: 7 / 13;
}

/* Familia 14*/
.C {
    grid-area: 2 / 14;
}

.Si {
    grid-area: 3 / 14;
}

.Ge {
    grid-area: 4 / 14;
}

.Sn {
    grid-area: 5 / 14;
}

.Pb {
    grid-area: 6 / 14;
}

.Fl {
    grid-area: 7 / 14;
}

/* Familia 15*/
.N {
    grid-area: 2 / 15;
}

.P {
    grid-area: 3 / 15;
}

.As {
    grid-area: 4 / 15;
}

.Sb {
    grid-area: 5 / 15;
}

.Bi {
    grid-area: 6 / 15;
}

.Mc {
    grid-area: 7 / 15;
}

/* Familia 16*/
.O {
    grid-area: 2 / 16;
}

.S {
    grid-area: 3 / 16;
}

.Se {
    grid-area: 4 / 16;
}

.Te {
    grid-area: 5 / 16;
}

.Po {
    grid-area: 6 / 16;
}

.Lv {
    grid-area: 7 / 16;
}

/* Familia 17*/
.F {
    grid-area: 2 / 17;
}

.Cl {
    grid-area: 3 / 17;
}

.Br {
    grid-area: 4 / 17;
}

.I {
    grid-area: 5 / 17;
}

.At {
    grid-area: 6 / 17;
}

.Ts {
    grid-area: 7 / 17;
}

/* Familia 18*/
.He {
    grid-area: 1 / 18;
}

.Ne {
    grid-area: 2 / 18;
}

.Ar {
    grid-area: 3 / 18;
}

.Kr {
    grid-area: 4 / 18;
}

.Xe {
    grid-area: 5 / 18;
}

.Rn {
    grid-area: 6 / 18;
}

.Og {
    grid-area: 7 / 18;
}

/* Lantanideos */
.Ce {
    grid-area: 1 / 4;
}

.Pr {
    grid-area: 1 / 5;
}

.Nd {
    grid-area: 1 / 6;
}

.Pm {
    grid-area: 1 / 7;
}

.Sm {
    grid-area: 1 / 8;
}

.Eu {
    grid-area: 1 / 9;
}

.Gd {
    grid-area: 1 / 10;
}

.Tb {
    grid-area: 1 / 11;
}

.Dy {
    grid-area: 1 / 12;
}

.Ho {
    grid-area: 1 / 13;
}

.Er {
    grid-area: 1 / 14;
}

.Tm {
    grid-area: 1 / 15;
}

.Yb {
    grid-area: 1 / 16;
}

.Lu {
    grid-area: 1 / 17;
}

/* Lantanideos */
.Th {
    grid-area: 2 / 4;
}

.Pa {
    grid-area: 2 / 5;
}

.U {
    grid-area: 2 / 6;
}

.Np {
    grid-area: 2 / 7;
}

.Pu {
    grid-area: 2 / 8;
}

.Am {
    grid-area: 2 / 9;
}

.Cm {
    grid-area: 2 / 10;
}

.Bk {
    grid-area: 2 / 11;
}

.Cf {
    grid-area: 2 / 12;
}

.Es {
    grid-area: 2 / 13;
}

.Fm {
    grid-area: 2 / 14;
}

.Md {
    grid-area: 2 / 15;
}

.No {
    grid-area: 2 / 16;
}

.Lr {
    grid-area: 2 / 17;
}

.h {
    position: relative;
}

.content {

    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225, 225, 225);
    border: rgb(230, 230, 230) solid;
    padding: 4px;
    box-shadow: rgb(200, 200, 200) 0px 0px 6px;

}

header {
    height: 77px;
    position: static;
    background-color: rgb(194, 189, 207);
    color: black;
    padding: 1px;
    border-bottom: 1px black solid;
    box-shadow: 0px 0px 5px black;
    z-index: 20;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

.contato {
    background-image: url(img/back.png);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tb {
    position: inherit;
}

.menu{

    margin-top: 2px;
    position: static;
    display: inline-block;
    margin-right: 12px; 
    margin-right: 12px;   
    padding: 10px;
    border-radius: 2%;

}

.menu:hover{

    margin-top: 0px;
    margin-right: 10px; 
    margin-right: 10px;
    scale: 120%;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px black solid;

}
