body {

    background-color: white;

}
.baseinfo{

    position:absolute;
    left: 250px;
    top: 40px;
    border:3px solid lightcoral;

}

.info{

    position: relative;
    top: 20px;
    border:3px solid lightgreen;
    width: 50%;

}

.img_el {

    position:relative;
    bottom: 10px;

}

.texto_extra {

    border: 3px solid lightskyblue;

}
