body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    text-align: center;
    position: relative;
    border: 3px black;
    padding: 0.5%;
    text-decoration: underline overline;
    color: rgb(21, 14, 122);
}

.botao {

    border: solid;
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}

.botao:hover{

    scale: 107.5%;
    box-shadow: black 0px 0px 10px ;

}

img{
    width:15%;
    top: 5%;
}
.baseinfo{
    position:relative;
}

.info{
    position:relative;
}

.alcalinos {
    background-color: rgb(209, 167, 69);
}
.alcalinos-m {
    background-color: rgb(245, 201, 96);
    border:3px solid rgb(245, 201, 96);
}

.terroso {
    background-color:rgb(201, 191, 57);
}
.terroso-m {
    background-color: rgb(223, 212, 70);
    border:3px solid rgb(223, 212, 70);
}

.boro {
    background-color: teal;
}

.boro-m {
    background-color:rgb(16, 175, 175);
    border:3px solid rgb(16, 175, 175);
}

.nobre {
    background-color: rebeccapurple;
}

.nobre-m {
    background-color: rgb(144, 83, 204);
    border:3px solid rgb(144, 83, 204);
}

.ametais {
    background-color: rgb(129, 158, 71);
}

.ametais-m {
    background-color:rgb(174, 204, 113);
    border:3px solid rgb(174, 204, 113);
}

.halo {
    background-color: royalblue;
}

.halo-m {
    background-color:rgb(119, 146, 230);
    border:3px solid rgb(119, 146, 230);
}

.transição {
    background-color: rgb(128, 40, 40);
}

.transição-m {
    background-color:rgb(180, 70, 70);
    border:3px solid rgb(180, 70, 70);
}

.outros {
    background-color: dodgerblue;
}

.outros-m {
    background-color:rgb(101, 168, 235);
    border:3px solid rgb(101, 168, 235);
}

.lanta {
    background-color: rgb(68, 170, 136);
}

.lanta-m {
    background-color:rgb(129, 199, 176);
    border:3px solid rgb(129, 199, 176);
}

.act {
    background-color: rgb(185, 117, 185);
}

.act-m {
    background-color:plum;
    border:3px solid plum;
}
