body {

    background-color: white;

}

img{

    width:15%;
    top: 5%;

}

.baseinfo{

    padding-left: 1%;
    position:absolute;
    top: 6%;
    width: 24%;
    left:16%;
    border:3px solid lightcoral;

}

.info{

    padding-left: 1%;
    position: absolute;
    top: 37.5%;
    border:3px solid lightgreen;
    width: 39.5%;

}

.texto_extra {

    border: 3px solid lightskyblue;

}

.home{

    z-index: 10;
    position: relative;
    bottom: 10%;
    border: 3px black;
    padding: 5px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    
}
