body {

    background-color: white;

}

img{

    width:15%;
    top: 5%;

}

.baseinfo{

    padding-left: 1%;
    position:absolute;
    top: 6%;
    width: 24%;
    left:16%;
    border:3px solid lightcoral;

}

.info{

    padding-left: 1%;
    position: absolute;
    top: 43.5%;
    border:3px solid lightgreen;
    width: 39.5%;

}

.texto_extra {

    border: 3px solid lightskyblue;

}

.home{

    z-index: 10;
    position: absolute;
    top: 61%;
    border: 3px black;
    padding: 0.5%;
    background-color: ;
    text-decoration: underline overline;
    color: blue;
    text-align: left;

}
